.playerContainer {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 720px;
  width: 1280px;
}

.eventRectangle {
  position: absolute;
  background-color: #00800073;
  border: 1px solid #00800073;
}